<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рик_и_Морти</title>
</head>
<body>
    <div class="header"><h1>Герои мультсериала Рик И Морти</h1></div>
    <div class="text">
        <h2>Список героев</h2>
        <a class="choice" href="../../characters">№ п/п</a>
        <a class="choice" href="../../characters/sortbyname">Имя</a>
        <a class="choice" href="../../characters/sortbygender">Пол</a>
        <a class="choice" href="../../characters/sortbycreated">Дата создания</a>
    </div>

    <div class="items">
        <tr th:each="character: ${characters}">
            <div class="item">
                <img th:src="${character.image}" alt="Изображение героя">
                <div class="item-info">
                    <h3 th:text="${character.id}"></h3>
                    <h3 th:text="${character.name}"></h3>
                    <h3 th:text="${character.species}"></h3>
                    <h3 th:text="${character.gender}"></h3>
                    <h3 th:text="${character.created}"></h3>
                    <a class="choice_hero" th:href="@{'../../character/' + ${character.id}}">Посмотреть</a>
                </div>
            </div>
        </tr>
    </div>
</body>
</html>