<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список героев</title>
</head>
<body>
    <h1>Список героев мультсериала "Rick and Morty"</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Вид</th>
                <th>Пол</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.id}">ID</td>
                <td th:text="${character.name}">Имя</td>
                <td th:text="${character.status}">Статус</td>
                <td th:text="${character.species}">Вид</td>
                <td th:text="${character.gender}">Пол</td>
                <td th:text="${character.created}">Дата создания</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
